@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



  body {padding: 0;margin: 0; width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  text-decoration: none; -ms-overflow-style: none; overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif; cursor: crosshair;
  background-image: url('ze-back.jpg'); background-size: 50% auto; background-repeat: repeat;}

  div {float:right;}
  ::-webkit-scrollbar {display: none;}

  .box1, .box2, .box3, .box4 {
    position: absolute;
    overflow: scroll;
    left: 0%;
    font-size: 17px;
    text-align: right;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 1s 0s;
    opacity: 88%;
  }


  .box1 {z-index: 4; width: 64%; height: 86%; top: 18%;
  background-image: url('cover.png'); background-size: cover; opacity: 78%;}
  .box1:hover {width: 64.5%;}

  .box2 {z-index: 3; width: 73%; height: 90%; top: 14%;}
  .box2:hover {width: 74%;}

  .box3 {z-index: 2; width: 82%; height: 94%; top: 10%; opacity: 92%;}
  .box3:hover {width: 83%;}

  .box4 {z-index: 1; width: 91%; height: 98%; top: 6%;}
  .box4:hover {width: 92%;}



  .headline {width: 8vw; margin: 0% 1%; display: inline-block; position: sticky; top: 1%; overflow: hidden; text-align: center; cursor: w-resize; }

  .textbox {font-size: 17px; line-height: 29px; width: 70%; text-align: left;
    padding: 2% 2% 1% 2%; position: relative;}



  table {width: 100%; line-height: 22px; border-collapse: collapse; vertical-align: middle;}

  th, td { width: 40%; border-bottom: 1px solid #BDBDBD; padding: 10px;}

   a {color:black;}
   a:hover {color: #BDBDBD;}



  #line {position: inherit; width: 100%; height: 15px; background-image: url('line.png'); background-size: 50% auto; margin: 8px 0px}

  .loadingscreen {z-index: 100; position: fixed; width: 100%;
    text-align: center; height: 100%; line-height: 100%; font-size: 2rem; font-size: 20px; font-weight: 700;
    background-color: white; opacity: 80%; mix-blend-mode: normal;
    -webkit-animation: cssAnimation 0s forwards;
    animation: cssAnimation 0s forwards;
    animation-delay: 5s;}
    @keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
  }
  @-webkit-keyframes cssAnimation {
      to {
          width:0;
          height:0;
          display: none;
      }
      }

  #logo {position: fixed; z-index: 10; width: 7%; right: 1.3%; top:1%; mix-blend-mode: darken;}

  /* -------------- loader4 -------------- */

 .loader4{
   position:absolute;
   width: 60%;
   height: 20px;
   top: 50%;
   left: 20%;
   background-image: url('line2.png');
   background-size: contain;
 }

 .loader4:before{
   content: "";
   position: absolute;
   background-color: #fff;
   top: 0px;
   left: 0px;
   height: 20px;
   width: 0px;
   z-index: 0;
   opacity: 1;
   -webkit-transform-origin:  100% 0%;
       transform-origin:  100% 0% ;
   -webkit-animation: loader4 10s ease-in-out infinite;
       animation: loader4 10s ease-in-out infinite;
 }

 .loader4:after{
   content: "";
   position: absolute;
   width: 100%;
   height: 20px;
   left: 0;
   top: 0;
 }

 @-webkit-keyframes loader4{
     0%{width: 0px;}
     70%{width: 100%; opacity: 1;}
     90%{opacity: 0; width: 100%;}
     100%{opacity: 0;width: 0px;}
 }

 @keyframes loader4{
     0%{width: 0px;}
     70%{width: 100%; opacity: 1;}
     90%{opacity: 0; width: 100%;}
     100%{opacity: 0;width: 0px;}


 /*모바일 가로*/

 @media only screen and (max-width : 415px) {
   .box1, .box2, .box3, .box4 {
     font-size: 12px;}

   .textbox { width: 75%; font-size: 12px; line-height: 20px;}

   table {line-height: 22px;}
   th, td {padding: 6px;}

   #line {height: 7px; margin:5px 0px;}
   #logo {position: fixed; width: 14%; right: 2%; top:1.5%; mix-blend-mode: darken;}
 }


}



  /* mobile */

@media (min-device-width : 416px) and (max-width: 800px) {

  .box1, .box2, .box3, .box4 {
    font-size: 9px;}

  .textbox { width: 75%; font-size: 8.5px; line-height: 17px;}

  table {line-height: 12px;}
  th, td {padding: 6px;}

  #line {height: 9px; margin:5px 0px;}
  #logo {position: fixed; width: 8%; right: 1%; top:1%; mix-blend-mode: darken;}
}
