@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



  body {padding: 0;margin: 0; width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  text-decoration: none; -ms-overflow-style: none; overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif; cursor: crosshair;
  background-image: url('ze-back.jpg'); background-size: 50% auto; background-repeat: repeat;}

  div {float:right;}
  ::-webkit-scrollbar {display: none;}

  .box1, .box2, .box3, .box4 {
    position: absolute;
    overflow: scroll;
    left: 0%;
    font-size: 17px;
    text-align: right;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.9), inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 1s 0s;
    opacity: 88%;
  }


  .box1 {z-index: 4; width: 64%; height: 86%; top: 18%;
  background-image: url('cover.png'); background-size: cover; opacity: 78%;}
  .box1:hover {width: 64.5%;}

  .box2 {z-index: 3; width: 73%; height: 90%; top: 14%;}
  .box2:hover {width: 74%;}

  .box3 {z-index: 2; width: 82%; height: 94%; top: 10%; opacity: 92%;}
  .box3:hover {width: 83%;}

  .box4 {z-index: 1; width: 91%; height: 98%; top: 6%;}
  .box4:hover {width: 92%;}



  .headline {width: 8vw; margin: 0% 1%; display: inline-block; position: sticky; top: 1%; overflow: hidden; text-align: center; cursor: w-resize; }

  .textbox {font-size: 17px; line-height: 29px; width: 70%; text-align: left;
    padding: 2% 2% 1% 2%; position: relative;}



  table {width: 100%; line-height: 22px; border-collapse: collapse; vertical-align: middle;}

  th, td { width: 40%; border-bottom: 1px solid #BDBDBD; padding: 10px;}

   a {color:black;}
   a:hover {color: #BDBDBD;}



  #line {position: inherit; width: 100%; height: 15px; background-image: url('line.png'); background-size: 50% auto; margin: 8px 0px}

  #screen-notice {z-index: 99; position: absolute; width: 100%;
    text-align: center; height: 100%; line-height: 100%; font-size: 2rem;
    background-color: white; opacity: 60%; visibility: hidden;}

  #logo {position: fixed; z-index: 100; width: 6%; right: 1.3%; top:1%; mix-blend-mode: darken;}



 /*모바일 가로*/

 @media only screen and (max-width : 415px) {
   .box1, .box2, .box3, .box4 {
     font-size: 12px;}

   .textbox { width: 75%; font-size: 12px; line-height: 20px;}

   table {line-height: 22px;}
   th, td {padding: 6px;}

   #line {height: 7px; margin:5px 0px;}
   #logo {position: fixed; z-index: 100; width: 13%; right: 2%; top:1.3%; mix-blend-mode: darken;}
 }


  /* mobile */

@media (min-device-width : 416px) and (max-width: 800px) {

  .box1, .box2, .box3, .box4 {
    font-size: 9px;}

  .textbox { width: 75%; font-size: 8.5px; line-height: 17px;}

  table {line-height: 12px;}
  th, td {padding: 6px;}

  #line {height: 9px; margin:5px 0px;}
  #logo {position: fixed; z-index: 100; width: 7%; right: 1%; top:1%; mix-blend-mode: darken;}
}
